{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "overrides": [
        { "files": "*.json", "options": {} },
        { "files": "*.ts", "options": {} }
    ]
}
