name: ft-transcendence

services:
  web:
    build:
      context: "./web/"
    container_name: web
    restart: unless-stopped
    ports:
      - "${DEV_HTTP_PORT:-80}:8080"
      - "${DEV_HTTPS_PORT:-443}:8443"
    networks:
      - ft-transcendence-net
    volumes:
      - "caddy_data:/srv/.local/share/caddy/"
    environment:
      - DOMAIN=${DOMAIN:-}
      - SCHEME=${SCHEME:-}
      - PROD=${PROD:-0}
    develop:
      watch: # will reload caddy when changing Caddyfile.template in the host system
        - path: ./web/Caddyfile.template
          action: rebuild
          target: /etc/caddy/Caddyfile.template

  backend:
    build:
      context: "./backend/"
    container_name: backend
    restart: unless-stopped
    networks:
      - ft-transcendence-net
    environment:
      - NODE_ENV=development
      - BACKEND_PORT=${BACKEND_PORT:-3000}
    volumes:
      - ./backend/data:/app/data

volumes:
  caddy_data:

networks:
  ft-transcendence-net:
    driver: bridge
